{% extends 'shorten_url/layout.html' %}

{% block body %}

    <div class="container">
        <div class="mb-4">
          <form  method=post>
            {% csrf_token %}
            {{ form }}
            <input type=submit value="Shorten"  class="btn btn-success">
          </form>
        </div>
        <table class="table">
          <thead class="thead-inverse">
              <tr>
                <th>Short Url</th>
                <th>Count of visits</th>
              </tr>
          </thead>
            </tbody>
            {% for url in urls %}
            <tr>
              <td>
                <a  href="visit_url/{{ url.short_url }}" target="_blank">{{ url.short_url }}</a>
              </td>
              <td class="align-middle">{{ url.visit_count }}</td>
            </tr>
            {% endfor %}
          </tbody>  
        </table>
</div> 

{% endblock %}
